*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container{
    height: 400px;
    width: 250px;
    border-radius: 5px;
    padding: 10px;

}

#display{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#userinput{
    height: 80px;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    text-align: left;
    border: none;
    background-color: hsla(0, 85%, 3%, 0);
    color: white;
}

.keypad{
    
    height: 300px;
    width: 230px;
    background-color: rgba(128, 128, 128, 0);
    padding: 15px;
    border-radius: 10px;
}

.keypad button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border-style: none;
    margin: 3px;
    gap: 10px;
    color: white;
    background-color: black;
}

.keypad :hover{
    background-color: hsla(0, 0%, 40%, 0);
}

.keypad :active{
    background-color: hsla(0, 0%, 50%, 0);
}

.operator-btn{
    background-color: hsla(35, 100%, 55%, 0);
}
.operator-btn:hover{
    background-color: hsla(35, 100%, 65%, 0);
}
.operator-btn:active{
    background-color: hsla(35, 100%, 75%, 0);
}